@import "../../../colors.scss";
.skills {
  padding-top: 128px;
  box-sizing: border-box;
  min-height: calc(100% - 50px);
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    &-color {
      color: $accent-color;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 50px;
    margin-top: 50px;

    width: 65%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
    width: 175px;
    height: 200px;
    border-radius: 5px;

    background-color: rgba($color: #fff, $alpha: 0.1);
    box-shadow: rgba($color: #000000, $alpha: 0.45) 0px 8px 0px 0px;

    &__title {
      font-size: 20px;
      font-weight: 2--;
      user-select: none;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .skills {
    &__title {
      font-size: 36px;
    }
    &__items {
      gap: 20px;
    }
  }
}
